.btn{
    font-size: 18px;
    padding: 16px 20px;
    background-color: #2480c3;
    color: #fff;
    border: none;
    font-weight: 600;
    border-radius: 50px;
    transition: .5s all ease-in-out;
   &:hover{
    background-color: rgb(115, 235, 235);
    color: #000;
    transition: .5s all ease-in-out;
    margin-bottom: 10px;
   }
  }