.banner__wrapper{
    .banner__head{
        font-size: 38px;
        color: #656464;
        margin-bottom: 20px;
    }
    .banner__para{
        font-size: 18px;
        color: #656464;
        margin-bottom: 20px; 
        line-height: 28px;
    }
  .banner__collabration{
    font-size: 15px;
    color: #ababab;
    margin-bottom: 20px; 
  }
  .banner__ms-logo{
    margin-bottom: 30px;
    display: block;
  }
  
  
}
