
.signup__wrapper{
    .signup__para{
        font-size: 14px;
        color: #656464;
        margin-bottom: 24px;
    }
    .btn{
        margin-bottom: 25px;
    }
    p{
        font-size: 12px;
        color: #656464;
        margin-bottom: 20px; 
        font-style: italic;
    }
   
}
